.simple-loader {
    border: 4px solid rgba(212, 175, 55, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: var(--color-gold);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}